<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	{% if msg %}
	<b style="color: blue;">{{msg}}</b>
	{% endif %}
<form name="insert" method="post" action="{% url 'index' %}">
	{% csrf_token %}
	<table>
		<tr>
			<td>Title</td>
			<td><input type="text" name="title"></td>
		</tr>
		<tr>
			<td>Author</td>
			<td><input type="text" name="author"></td>
		</tr>
		<tr>
			<td>ISBN</td>
			<td><input type="text" name="isbn"></td>
		</tr>
		<tr>
			<td>Publisher</td>
			<td><input type="text" name="publisher"></td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<input type="submit" name="action" value="Insert">
			</td>
		</tr>
	</table>
	
</form>

<a href="{% url 'fetch-data' %}">Fetch All Books</a>
<table width="100%" border="1">
	<tr>
		<th>ID</th>
		<th>Title</th>
		<th>Author</th>
		<th>ISBN</th>
		<th>Publisher</th>
	</tr>
	{% for i in l %}
	<tr>
		<td>{{i.id}}</td>
		<td>{{i.title}}</td>
		<td>{{i.author}}</td>
		<td>{{i.isbn}}</td>
		<td>{{i.publisher}}</td>
	</tr>
	{% endfor %}
</table>
</body>
</html>